---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img
         class="img-fluid img-responsive z-depth-1 rounded"
         src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}"
         srcset="{{ page.profile.image | prepend: '/assets/img/' | relative_url }} 231w,
                 {{ page.profile.image-small | prepend: '/assets/img/' | relative_url }} 384w,
                 {{ page.profile.image-smaller | prepend: '/assets/img/' | relative_url }} 330w"
         sizes="(max-width: 361px) 330px, (max-width: 576px) 545px, 231px"
         alt="Vitor profile picture"
        >
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
