<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
    <script src="{{ '/assets/js/distillpub/template.v2.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/distillpub/transforms.v2.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/distillpub/overrides.js' | relative_url }}"></script>
    {% if page._styles %}
    <style type="text/css">
      {{ page._styles }}
    </style>
    {% endif %}
  </head>

  <d-front-matter>
    <script async type="text/json">{
      "title": "{{ page.title }}",
      "description": "{{ page.description }}",
      "published": "{{ page.date | date: '%B %-d, %Y' }}",
      "authors": [
        {% for author in page.authors %}
        {
          "author": "{{ author.name }}",
          "authorURL": "{{ author.url }}",
          "affiliations": [
            {
              "name": "{{ author.affiliations.name }}",
              "url": "{{ author.affiliations.url }}"
            }
          ]
        }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ],
      "katex": {
        "delimiters": [
          {
            "left": "$",
            "right": "$",
            "display": false
          },
          {
            "left": "$$",
            "right": "$$",
            "display": true
          }
        ]
      }
    }</script>
  </d-front-matter>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="post distill">

      <d-title>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </d-title>

      <d-byline></d-byline>

      <d-article>
        {{ content }}
      </d-article>

      <d-appendix>
        <d-footnote-list></d-footnote-list>
        <d-citation-list></d-citation-list>
      </d-appendix>

    </div>

    <!-- Footer -->

    {% include footer.html %}

  </body>

  <d-bibliography src="{{ page.bibliography | prepend: '/assets/bibliography/' | relative_url }}">
  </d-bibliography>

</html>
